 body {
    padding-top: 70px;
  }
/* Class Colours */

.deathknight {
	background-color: #C41F3B !important;
}

.druid {
	background-color: #FF7D0A !important;
}

.hunter {
	background-color: #ABD473 !important;
}

.mage {
	background-color: #69CCF0 !important;
}

.monk {
	background-color: #00FF96 !important;
}

.paladin {
	background-color: #F58CBA !important;
}

.priest {
	background-color: #FFFFFF !important;
}

.rogue {
	background-color: #FFF569 !important;
}

.shaman {
	background-color: #0070DE !important;
}

.warlock {
	background-color: #9482C9 !important;
}

.warrior {
	background-color: #C79C6E !important;
}

/* Quality Colours */
.uncommon {
	background-color: #1eff00 !important;
}

.rare {
	background-color: #0070dd !important;
}

.epic {
	background-color: #a335ee !important;
}

.legendary {
	background-color: #ff8000 !important;
}

#jumbo-banner {
	background-repeat: no-repeat;
	height: 300px !important;
}

#container-banner {
	color: #ffffff;
}

.date {
	font-style: italic;
	font-weight: bold;
	color: #c2c3c4;
}

.poster {
	color: #a335ee;
	font-weight: bold;
}

.markdown {
	font-family: 'Inconsolata', sans-serif;
}
